* {
    box-sizing: border-box;
}

body {
    font-size:1.3em;
    font-family: sans-serif;
    color:#afbac4;
    margin:0;
    background:#353b43;
}

a {
    color: #a53898; /* purple */
    transition: color .36s;
    transition-property: color;
    transition-duration: 0.36s;
    transition-delay: 0s;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

code {
    font-size:1em;
    color:#afbac4cc
}

h1,h2,h3,h4,h5,h6 {
    color: #fff;
}

pre {
    margin:0;
    overflow:auto
}

.container {
    padding:2.5rem;
}

.header {
    background:#242930;
    padding:2.5em;
    text-align:right;
    
}
/*
.colors {
    #bb7c35 -> orange
    #21a945 -> green
    #0080ff -> blue
}
*/
::selection {
    background:#21a945;
}

@media(min-width:940px) {
    blockquote {
        border-left:.3em solid #bb7c35; /* orange */
        margin:1em 0;
        padding:.5em 1em;
        background: #242930;
    }
    
    .header {
        position: fixed;
        top:0;
        right:0;
        width:20rem;
        min-height:100vh;
    }
    
    .container {
        max-width: 66rem;
        text-align: right;
        margin-right:20rem;        
    }
    
    .404err {
        text-align: center;
    }
    
    .dexlist {
        padding:0
    }
    
    .dexlist-item {
        list-style:none;
        padding: .3em 0
    }
    
    .dexlist-item:not(:last-child) {
        border-bottom:1px dashed #ffffff4d
    }
    
    .dexlist-deets {
        display:block;
        font-size:.66em
    }
    
    
}

@media(max-width:940px) {
    .header {
        text-align:center;
    }
}
